numpy==1.19.5
tensorflow==2.0.0
tensorflow-gpu==2.5.0
midi==0.2.3
pypianoroll==0.4.6
imageio==2.3.0
Keras==2.3.1
scikit-learn==0.23.1
scipy==1.5.2
config==0.5.0.post0
seaborn==0.11.2
matplotlib==3.3.2
pandas==1.1.5
coloredlogs==15.0